.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.anime {
  &.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: unset;
  }
}
