img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  width: 100%;
  height: 100%;
}

p {
  ol {
    list-style: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol,
  ul {
    padding-left: 60px;
  }
}
