body {
  @include font-text;
}

h1,
h2,
h3,
h4 {
  @include font-headline;
  font-style: normal;
}

.heading1,
.heading2,
.heading3,
.heading4 {
  @include font-headline;
  font-style: normal;
}

h1 {
  @include heading1;
}

.heading1 {
  @include heading1;
}

.headline {
  position: relative;
  padding: 10px 0;

  h2 {
    display: block;
    perspective: 500px;
  }

  span {
    position: relative;
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    transform-origin: center center -5vw;
    display: inline-block;
    cursor: crosshair;

    &::after {
      content: attr(data-title);
      position: absolute;
      top: -8px;
      left: 8px;
      margin-right: -8px;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: transparent;
      z-index: -1;
      transition: top 0.05s ease-out, left 0.05s ease-out;
      pointer-events: none;
    }

    &:nth-child(2) {
      position: absolute;
      left: 0;
      opacity: 0;
      transform: rotateX(-90deg);
    }
  }
}

h2 {
  @include heading2;
}

.heading2 {
  @include heading2;
}

h3 {
  @include heading3;
}

.heading3 {
  @include heading3;
}

h4 {
  @include heading4;
}

.heading4 {
  @include heading4;
}

p {
  @include paragraph;
}

a,
span {
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2pt;
}

a {
  font-size: font-size(12px);
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  @include media-breakpoint-up(md) {
    font-size: font-size(14px);
  }
}

small {
  font-style: normal;
  font-size: font-size(12px);
  letter-spacing: 2pt;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}
