.circle-nav-vis-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 70px;
  min-height: 70px;
}

.circle-nav-vis {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3e2100;
}

.circle-nav {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 70px;
  min-height: 70px;
  // border-radius: 50%;
  // background-color: #3e2100;

  // @include media-breakpoint-up(sm) {
  //   width: 125px;
  //   height: 125px;
  // }

  // @include media-breakpoint-up(md) {
  //   width: 150px;
  //   height: 150px;
  // }
}

.nav-circle-wrapper {
  position: absolute;
  top: max(320px, 40vh);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 35vw;
  min-width: 100px;
  min-height: 100px;
  max-width: 150px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    top: max(350px, 40vh);
    left: 60%;
    width: 150px;
    height: 150px;
    max-width: none;
    max-height: none;
  }

  @include media-breakpoint-up(md) {
    top: max(450px, 40vh);
    left: 60%;
    width: 200px;
    height: 200px;
  }

  @include media-breakpoint-up(lg) {
    top: max(400px, 50vmin);
    left: 60%;
    width: max(200px, 18vw);
    height: max(200px, 18vw);
  }

  @include media-breakpoint-up(xl) {
    top: max(350px, 40vh);
    width: max(250px, 18vw);
    height: max(250px, 18vw);
  }

  @include media-breakpoint-up(xxl) {
    top: 50vh;
    left: 65%;
    max-width: 500px;
    max-height: 500px;
  }
}

#circle-items {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}

.parallax-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.125);
    }

    &:active {
      transform: scale(1);
    }

    .circle-item-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);

      svg {
        animation: full-rotation linear infinite;
      }
    }
  }
}

@keyframes full-rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

#circle-works {
  top: -80%;
  left: 70%;

  a {
    width: 75%;
    height: 75%;
    background-color: rgb(255, 158, 177);

    @include media-breakpoint-up(md) {
      font-size: font-size(10px);
    }

    @include media-breakpoint-up(lg) {
      font-size: font-size(14px);
    }

    .circle-item-icon {
      width: 60%;
      height: 60%;
    }

    svg {
      animation-duration: 60s;
    }
  }
}

#circle-about {
  top: 10%;
  left: -110%;

  a {
    background-color: rgb(125, 255, 44);
    width: 50%;
    height: 50%;

    @include media-breakpoint-up(md) {
      font-size: font-size(10px);
    }

    @include media-breakpoint-up(lg) {
      font-size: font-size(12px);
    }

    .circle-item-icon {
      width: 60%;
      height: 60%;

      svg {
        animation-duration: 30s;
      }
    }
  }
}

#circle-contact {
  top: 75%;
  left: 75%;
  a {
    background-color: rgb(12, 170, 173);
    width: 60%;
    height: 60%;

    @include media-breakpoint-up(md) {
      font-size: font-size(10px);
    }

    @include media-breakpoint-up(lg) {
      font-size: font-size(12px);
    }

    .circle-item-icon {
      width: 60%;
      height: 60%;

      svg {
        animation-duration: 45s;
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(150px) rotate(-360deg);
  }
}
