.page-about {
  padding: 150px 0;

  h2 {
    position: relative;
    margin-bottom: 50px;
  }

  h3 {
    font-size: font-size(30px);
    line-height: font-size(35px);
  }

  .profile-picture {
    display: none;
    position: absolute;
    width: 100%;
    top: 120px;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
