.page-about {
  padding: 110px 0 90px 0;

  .circle {
    background-image: linear-gradient(35deg, map-get($map: $colors, $key: green) 0%, transparent 100%);
    display: none;
  }

  .profile-picture {
    display: none;
    position: absolute;
    width: 100%;
    top: -30px;
    pointer-events: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    img {
      object-fit: cover;
      height: 500px;
    }
  }

  // .blur {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   backdrop-filter: blur(20px);
  //   z-index: 500;
  // }

  p {
    font-size: font-size(14px);
  }

  + .circle-bg {
    top: 30%;
    left: 80%;
    width: 50vw;
    height: 50vw;
  }
}
