.page-home {
  background-color: map-get($map: $colors, $key: bg);
  padding-top: 120px;

  h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 50vh;
    z-index: 0;

    @include media-breakpoint-up(md) {
      margin-bottom: 180px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 180px;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: 200px;
    }
  }

  &__description {
    h4 {
      font-family: "neue-haas-grotesk-display", sans-serif;
      font-weight: 700;
      font-size: font-size(20px);
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 0.5pt;
    }

    p {
      line-height: font-size(30px);
    }
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    background-color: #3e2100;
    filter: blur(0.5px);

    @include media-breakpoint-up(sm) {
      width: 250px;
      height: 250px;
      max-width: none;
      max-height: none;
    }

    @include media-breakpoint-up(md) {
      top: 50%;
      left: 70%;
      width: 300px;
      height: 300px;
    }

    @include media-breakpoint-up(lg) {
      top: 45%;
      left: 65%;
      width: 350px;
      height: 350px;
    }

    @include media-breakpoint-up(xl) {
      width: 400px;
      height: 400px;
    }

    @include media-breakpoint-up(xxl) {
      width: 500px;
      height: 500px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -25%;
      left: -25%;
      width: 130%;
      height: 130%;
      border-radius: 50%;
      background-image: linear-gradient(50deg, map-get($map: $colors, $key: orange) 0%, transparent 100%);
      filter: blur(30px);
      mix-blend-mode: color;
      z-index: -1;
    }
  }

  .info {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 80px;

    @include media-breakpoint-up(md) {
      top: 100px;
      right: 100px;
      width: 180px;
    }

    p {
      font-weight: 400;
      font-style: italic;
      font-size: font-size(12px);
    }
  }
}

@keyframes heading {
  0%,
  100% {
    top: -8px;
    left: 8px;
  }

  30% {
    top: -14px;
    left: 14px;
  }

  50% {
    top: -18px;
    left: 18px;
  }

  70% {
    top: -14px;
    left: 14px;
  }
}
