.page-project {
  position: relative;
  padding-bottom: 150px;
  background-color: map-get($map: $colors, $key: bg);
  z-index: 0;

  .title-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    z-index: 3;

    .container-fluid {
      position: absolute;
      bottom: 20%;
    }
  }

  h2 {
    font-size: clamp(26px, 15vw, 80px);

    @include media-breakpoint-up(lg) {
      font-size: font-size(120px);
    }
    // color: white;
  }

  p {
    font-weight: 400;
    letter-spacing: 1pt;
  }

  img {
    margin-bottom: 8rem;
  }
}
