.page-project {
  padding-bottom: 150px;

  .title-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    z-index: 3;

    .container,
    .row,
    [class^="col"] {
      height: 100%;
    }

    .headline {
      position: absolute;
      bottom: 10%;
    }
  }

  h2 {
    font-size: clamp(26px, 15vw, 80px);

    @include media-breakpoint-up(md) {
      font-size: font-size(100px);
    }

    @include media-breakpoint-up(lg) {
      font-size: font-size(120px);
    }
  }

  .overview-section {
    flex-direction: column;
    margin-bottom: 80px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 120px;
    }

    li:not(:last-child) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    &__description {
      margin-bottom: 150px;
    }

    &__item {
      > span {
        text-decoration: underline;
        text-underline-offset: 4px;
        margin-bottom: 20px;
      }
      p {
        font-size: font-size(14px);
        line-height: font-size(26px);
        margin: 0;
      }
    }
  }

  .one-col-layout,
  .layout {
    [class^="col"] {
      margin-bottom: 120px;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .row.breakout {
    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }

  .breakout-md-left {
    @include media-breakpoint-up(md) {
      flex-basis: 50vw;
      max-width: initial;
      max-height: 500px;
      padding-left: 0;

      * {
        max-height: inherit;
      }
    }
  }

  .breakout-md-right {
    @include media-breakpoint-up(md) {
      flex-basis: 50vw;
      max-width: initial;
      max-height: 500px;
      padding-right: 0;

      * {
        max-height: inherit;
      }
    }
  }

  .breakout-sm-both {
    position: relative;
    left: calc(50% - 50vw);
    flex-basis: 100vw;
    max-width: 100vw;
    padding: 0;
  }

  .reverse .breakout-sm-both {
    position: relative;
    right: calc(50% - 50vw);
    flex-basis: 100vw;
    max-width: 100vw;
    padding: 0;
  }
}
