.page-works {
  position: relative;
  background-color: #262626;
  z-index: 0;

  &::before {
    content: "";
    position: fixed;
    top: 20vh;
    left: 10vw;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #ff00a7;
    opacity: 0.6;
    z-index: 2;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg, #481c00 40%, #262626 100%);
    mix-blend-mode: color;
    z-index: 1;
  }

  ul {
    position: relative;
    margin-top: 200px;
    z-index: 3;
  }

  li {
    margin-bottom: 100px;

    a {
      color: white;
      text-transform: none;
    }

    span:first-child {
      display: block;
      margin-bottom: 10px;
      font-family: "neue-haas-grotesk-display", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: font-size(80px);
    }
  }
}
