.page-works {
  position: relative;
  background-color: #262626;
  z-index: 0;

  &::before {
    content: "";
    position: fixed;
    top: 20vh;
    right: -200px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ff00a7;
    opacity: 0.6;
    z-index: 2;
    filter: blur(10px);

    @include media-breakpoint-up(md) {
      left: 5%;
      right: unset;
    }

    @include media-breakpoint-up(lg) {
      width: 600px;
      height: 600px;
    }
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg, #481c00 0, #262626 70%);
    mix-blend-mode: color;
    z-index: 1;
  }

  ul {
    position: relative;
    margin-top: 200px;
    z-index: 3;
  }

  li {
    display: block;
    margin-bottom: 70px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        a {
          transform: translateX(20px);
        }
      }
    }

    a {
      padding: 20px 0;
      color: white;
      text-transform: none;
      transition: transform 0.1s ease-out;
    }

    span:first-child {
      display: block;
      margin-bottom: 10px;
      font-family: "neue-haas-grotesk-display", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: font-size(45px);

      @include media-breakpoint-up(md) {
        font-size: font-size(60px);
      }

      @include media-breakpoint-up(lg) {
        font-size: font-size(80px);
      }
    }
  }
}
