.page-works {
  position: relative;

  ul {
    position: relative;
    margin-top: 200px;
    z-index: 3;
  }

  li {
    display: block;
    margin-bottom: 70px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        a {
          transform: translateX(10px);
        }
      }
    }

    a {
      padding: 20px 0;
      // color: white;
      text-transform: none;
      transition: transform 0.1s ease-out;
    }

    span:first-child {
      display: block;
      margin-bottom: 10px;
      font-family: "neue-haas-grotesk-display", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: font-size(45px);

      @include media-breakpoint-up(md) {
        font-size: font-size(60px);
      }

      @include media-breakpoint-up(lg) {
        font-size: font-size(80px);
      }
    }
  }

  ~ .footer {
    color: white;
  }
}
