html,
body {
  height: 100%;
}

#root,
[class^="layout"] {
  height: 100%;
}

.page-home,
.page-works,
.page-about,
.page-contact {
  min-height: 100%;
}

a,
span {
  display: inline-block;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url(/images/noise.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.65;
  pointer-events: none;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

// div[class="row"] {
//   outline: 1px dotted rgba(0, 0, 0, 0.25);
// }

// div[class^="col-"] {
//   background-color: rgba(255, 0, 0, 0.2);
//   outline: 1px dotted rgba(0, 0, 0, 0.5);
// }
