html,
body {
  height: 100%;
}

#root,
[class^="layout"] {
  height: 100%;
}

main {
  position: relative;
  z-index: 1000;
}

.page-home,
.page-works,
.page-about,
.page-contact {
  min-height: 100%;
}

.page-project {
  &::after {
    content: "";
    position: fixed;
    // top: 300px;
    // left: 10vw;
    width: 60vw;
    height: 60vw;
    top: 40vh;
    right: -20vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    background-color: #ef8d8d59;
    opacity: 0.6;
    z-index: 2;
    pointer-events: none;
    filter: blur(2px);

    @include media-breakpoint-up(sm) {
      width: 500px;
      height: 500px;
      top: 20vh;
      right: -200px;
    }

    @include media-breakpoint-up(md) {
      left: 5%;
      right: unset;
    }

    @include media-breakpoint-up(lg) {
      width: 600px;
      height: 600px;
    }
  }
}

.page-about,
.page-contact {
  &::after {
    content: "";
    position: fixed;
    // top: 300px;
    // left: 10vw;
    width: 60vw;
    height: 60vw;
    top: 40vh;
    right: -20vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
    filter: blur(30px);

    @include media-breakpoint-up(sm) {
      width: 500px;
      height: 500px;
      top: 20vh;
      right: -200px;
    }

    @include media-breakpoint-up(md) {
      top: 5vh;
      left: 50vw;
      right: unset;
    }

    @include media-breakpoint-up(lg) {
      max-width: unset;
      max-height: unset;
      left: 45vw;
      width: 550px;
      height: 550px;
    }
  }
}

a,
span {
  display: inline-block;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url(/images/noise.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.45;
  pointer-events: none;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

// div[class="row"] {
//   outline: 1px dotted rgba(0, 0, 0, 0.25);
// }

// div[class^="col-"] {
//   background-color: rgba(255, 0, 0, 0.2);
//   outline: 1px dotted rgba(0, 0, 0, 0.5);
// }
